
{% include 'base/navbar_forview.html' %}

{% block content %}
<br>
<div class="row">
    <div class="col">
        <center><div class=" create_form">
            <p>Are you sure you want to delete "{{task}}"</p>

            <form action="{% url 'delete' task.id %}" method="POST" class="create_form">

                {% csrf_token %}

                <a class="btn btn-warning" href="{% url 'taskList' %}">Cancel</a>
                <input class="btn btn-danger" type="submit" name="Confirm">
            </form>
        </div></center>
    </div>
</div>

{% endblock content %}