{% include 'base/navbar_forview.html' %}

{% block content %}

<a class="btn btn-primary" href="{% url 'taskList' %}" role="button">Go Back</a>

<br>
<div class="row">
    <div class="col-md-7">
        <div class="card" style="margin:30px 0px 0px 30px">
            <form action="" method="POST" class="create_form">
                {% csrf_token %}
                {{taskform.as_p}}
                <input type="submit" ,name="Submit">
            </form>
        </div>
    </div>
</div>

{% endblock content %}